body  {
    background-image: url('../imgs/tile.jpg');
}

.mainHeader {
    font-family: 'Mansalva', cursive;
    font-size: 48px;
}


.all-form-group {
    background-image: url('../imgs/formbg.jpg');
    align-items: center
  }

  .note {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

.glyphRemove {
    position: absolute;
    display: flex;
    left: 180px;
    right: 0px;
    top: -90px !important;
    bottom: 0px;

  }


  .taskDate{
    position: absolute;
    display: flex;
    left: 40px !important;
    right: 0px !important;
    top: 200px !important;
    bottom: 0px !important;
  }

  .taskTime{
    position: absolute;
    display: flex;
    left: 40px !important;
    right: 0px !important;
    top: 220px !important;
    bottom: 0px !important;
  }

  .taskText{
    position: absolute;
    display: block;
    left: 40px !important;
    right: 0px !important;
    top: 20px !important;
    bottom: 0px !important;
    width: 160px !important;
    height: 170px !important;
    overflow: scroll;
  }

.glyphRemove{
    visibility: hidden;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}